/* Counter component styles */

@import url("https://fonts.googleapis.com/css2?family=Avenir");

.container {
  position: absolute;
  top: 42%;
  left: 42%;
  width: fit-content;
}

.btn{
  width: 60px;
  height: 56px;
  font-size: 21px;
  font-weight: 900;
  font-family: Avenir;
}

.btn-dec {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #fff;
  border: 1px solid #b24242;
  color: #b24242;
}

.btn-inc {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #b24242;
  border: 1px solid #b24242;
  color: #fff;
}

input[type="number"] {
  text-align: center;
  max-width: 60px;
  height: 56px;
  padding: 2px;
  display: inline-block;
  font-size: 21px;
  font-weight: 900;
  color: #b24242;
  background-color: #fbe8e8;
  border-width: 1px;
  border-color: #b24242;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  outline: none;
  font-family: Avenir;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
